<!-- Header -->
<br><br><br>
<div class="container-fluid mt--6">
  <div class="row">
      <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <div class="row justify-content-center">
                                      
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                  <!-- Search form -->
                  <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main" [formGroup]="search">
                      <div class="form-group mb-0">
                      <div class="input-group input-group-alternative input-group-merge">
                          <input class="form-control" placeholder="Search" type="text">
                      </div>
                      </div><br><br><br>
                      <button style="float: center;" type="submit" class="btn btn-sm btn-primary">Search</button>
                  </form>
              </div>
            </div>
          </div>
      </div>  
    <div class="col-xl-8 order-xl-1">
      <div class="card">
          <form [formGroup]="add" (ngSubmit)="onSubmit()">
              <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Manage Officer</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button type="submit" class="btn btn-sm btn-primary">Add</button>
                    </div>
                    <div class="col-8">
                      <h3 class="mb-0" style="color: red;">{{ getResponse() }}</h3>
                  </div>
                  </div>
              </div>
              <div class="card-body">
                  <h6 class="heading-small text-muted mb-4">Officer information</h6>
                  <div class="pl-lg-4">
                      <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                          <label class="form-control-label" for="input-username">Official Id</label>
                          <input type="text" id="input-username" class="form-control" formControlName="officialId" placeholder="Official Id">
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                          <label class="form-control-label" for="input-username">Role</label>
                          <input type="text" id="input-username" class="form-control" formControlName="role" placeholder="Role">
                          </div>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                          <label class="form-control-label" for="input-first-name">Name</label>
                          <input type="text" id="input-first-name" formControlName="name" class="form-control" placeholder="Name">
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                          <label class="form-control-label" for="input-last-name">Password</label>
                          <input type="password" id="input-last-name" formControlName="password" class="form-control" placeholder="Password">
                          </div>
                      </div>
                      </div>
                  </div>
                  <hr class="my-4" />
                  <!-- Address -->
                  <h6 class="heading-small text-muted mb-4">Contact information</h6>
                  <div class="pl-lg-4">
                      <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                          <label class="form-control-label" for="input-address">Address</label>
                          <input id="input-address" class="form-control" formControlName="address" placeholder="Home Address" type="text">
                          </div>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-lg-4">
                          <div class="form-group">
                          <label class="form-control-label" for="input-city">City</label>
                          <input type="text" id="input-city" class="form-control" formControlName="city" placeholder="City">
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                          <label class="form-control-label" for="input-country">Contact Number</label>
                          <input type="number" id="input-country" class="form-control" formControlName="contactNumber" placeholder="Contact Number">
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="form-group">
                          <label class="form-control-label" for="input-country">Email Id</label>
                          <input type="email" id="input-postal-code" class="form-control" formControlName="emailId" placeholder="Email Id">
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
          </form>    
      </div>
    </div>
  </div>
</div>