<br><br>
<!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>About Us</h3>
            <p></p>
          </header>
  
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
              <p></p>
  
              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="title"><a href=""></a></h4>
                <p class="description">With the rapid strides in technology and telecommunication, the world has shrunk to such an extent that what was unheard of or incommunicado has become possible. However technological advancements without effective backing ends, infrastructure, leave a wide gap in effective communication.</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title"><a href=""></a></h4>
                <p class="description">ODO have come a long way in providing total solutions for a broad spectrum from individuals to leading Public Sector Undertakings, Government Bodies, Corporates, MNCs, Educational and Financial Institutions .</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <h4 class="title"><a href=""></a></h4>
                <p class="description">The real attribute to the success of ODO is its willingness to upgrade the systems with changing times and also to incorporate fresh and innovative ideas to make its presence felt.</p>
              </div>
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
              <img src="../../assets/img/about-extra-2.svg" class="img-fluid" alt="">
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
              <img src="about-assets/about-extra-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <br><br><br><br>
              <p>At ODO Couriers, the sophisticated Hub-and-spoke system with ware housing and storage facilities, modern communication network and large fleet of transportation vehicles backed by dedicated team of professionals truly proves that their claim “We care…. for your valuables” is the quintessence of their business philosophy.</p>
            </div>
          </div>
  
        </div>
      </section><!-- #about -->
